html {
  font-size: 50%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  margin: 0 auto;
  color: #372e25;
  background-color: #fff9d4;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Julius Sans One", sans-serif;
}

.every-section {
  padding: 2vh 10vw 10vw;
  width: 100%;
}

.main-title {
  text-align: center;
  padding: 2rem 2rem;
  font-size: 4rem;
  margin: 0rem 0rem 0rem;
}

.clip {
  width: 100%;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
  margin-bottom: 8rem;
}

.sci {
  display: none;
}

/* HEADER */
.logo {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.logo * {
  width: 24%;
  height: 24%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #99968f;
  background-image: url(img/pattern.png);
  background-repeat: no-repeat;
  padding: 10rem 15rem;
  color: #fff9d4;
}

.header .header__main {
  width: 100%;
  text-align: center;
  padding: 0rem 4rem 2rem;
}

.header .header__main .clip {
  margin-bottom: 0;
  margin: 5vw 0;
}

.header .header__main .name {
  color: #fff;
  font-family: "Julius Sans One", sans-serif;
  font-weight: bold;
  font-size: 8vw;
  padding: 0 !important;
  margin: 0 !important;
}

.header .header__main h1 {
  font-family: 'Lato';
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.7rem;
  background-color: #fff;
  color: #372e25;
  padding: 2rem;
  border-radius: 5px;
}

.header .header__main .h1-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #99968f;
  font-style: italic;
}

.header .header__main .h1-first * {
  margin: 0 1rem;
}

.header .header__separator {
  background-image: url(img/scissors.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20%;
  height: 80%;
  margin-top: 5%;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-top: 5%;
  width: 0%;
  color: #372e25;
  font-size: 1.7rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.header .nav .menu {
  border-radius: 20px;
  background-color: #fff9d4;
  padding: 2rem;
  -webkit-box-shadow: 5px 5px #372e25;
          box-shadow: 5px 5px #372e25;
  text-align: center;
}

.header .nav .menu .menu--item:hover {
  color: #6d6a65;
}

.header .nav ul {
  list-style-type: none;
}

.header .nav ul li {
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.header .nav .nav__social {
  margin-top: 3rem;
  left: 0;
  background-color: #fff9d4;
  padding: 1rem 2rem;
  border-radius: 20px;
}

.header .nav .nav__social--item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0.5rem 0.2rem 1rem;
  -webkit-filter: sepia(1);
          filter: sepia(1);
  cursor: pointer;
}

.header .nav .nav__social #twitter {
  background-image: url(img/twitter.png);
}

.header .nav .nav__social #facebook {
  background-image: url(img/facebook.png);
}

.header .nav .nav__social #instagram {
  background-image: url(img/instagram.png);
}

.header .nav .next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  color: #99968f;
  font-size: 1.4rem;
  margin: 2rem 1rem;
  border-radius: 50%;
  width: 5vw;
  height: 5vw;
  cursor: pointer;
  border: 2px solid #99968f;
}

.description {
  color: #fff9d4;
  font-size: 1.7rem;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 20px;
}

.with-scissors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sci {
  background-image: url(img/scissors.png);
  width: 25rem;
  height: 15rem;
  background-size: contain;
  background-repeat: no-repeat;
}

/* PHOTOS */
.gallery {
  background-color: #372e25;
  color: #fff9d4;
  padding-top: 4rem;
}

.gallery__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  z-index: 1;
}

.gallery__btn--both {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 40px;
  width: 60px;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

.gallery__btn--left {
  background-image: url(img/arrow-left.png);
}

.gallery__btn--right {
  background-image: url(img/arrow-right.png);
}

.gallery .gallery__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 60vh;
  padding: 1rem;
}

.gallery .gallery__container .gallery__mini {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 20%;
  height: 60vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.gallery .gallery__container .gallery__mini--photo {
  height: 18vh;
  width: 18vh;
  border: 5px solid #fff9d4;
  overflow: hidden;
}

.gallery .gallery__container .gallery__mini--photo img {
  width: 100%;
}

.gallery .gallery__container .gallery__slide--section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border: 10px solid #fff9d4;
}

.gallery .gallery__container .gallery__slide--section .slide {
  position: absolute;
  -webkit-transition: 1s;
  transition: 1s;
}

.gallery .gallery__container .gallery__slide--section .slide img {
  height: inherit;
  width: 100%;
}

.service {
  background-color: #e8ab75;
  color: #372e25;
  padding-top: 4rem;
}

.service h2 {
  color: #fff;
  padding-bottom: 1rem;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 33.3%;
  padding: 3rem 2rem;
  min-width: 300px;
  margin-bottom: 4rem;
}

.services__box--text {
  margin-left: 1rem;
}

.services__box--img {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20vw;
  height: 10vw;
}

.form {
  background-color: #fff9d4;
  color: #372e25;
  background-image: url(img/pattern.png);
}

.sticky {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: fixed;
  right: 2vw;
  top: 2vw;
  z-index: 1;
}

.sticky__button {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(img/menu.png);
  background-color: #fff;
  cursor: pointer;
  width: 70px;
  height: 70px;
  border-radius: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 4px 4px #99968f;
          box-shadow: 4px 4px #99968f;
}

.sticky__button:hover {
  background-color: #9cf5d0;
}

.menuCopy {
  color: #372e25;
  list-style-type: none;
  padding: 2rem;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px #99968f;
          box-shadow: 5px 5px #99968f;
  border-radius: 20px;
}

.menuCopy .menu--item:hover {
  color: #86725d;
}

.menuCopy * {
  cursor: pointer;
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
}

.menuCopy1 {
  list-style-type: none;
  cursor: pointer;
}

.menuCopy1 .menu--item:hover {
  color: #9cf5d0;
}

.form {
  display: block;
  padding: 4rem 12rem 5rem;
}

.form .clip {
  background-color: #99968f;
}

.form1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-bottom: 10vw;
}

.hair-length {
  text-align: center;
  padding: 4rem;
  width: 25%;
  background-color: #99968f;
  color: #fff9d4;
  border-radius: 20px;
}

.hair-length--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 4rem 0;
}

.hair-length--container .length {
  color: #372e25;
  padding: 1.8rem;
  cursor: pointer;
  width: 90%;
  margin: 0.5rem 0;
  background-color: #fff9d4;
  border-radius: 20px;
  -webkit-box-shadow: 3px 3px;
          box-shadow: 3px 3px;
}

.hair-length--container .length:hover {
  background-color: #9cf5d0;
}

.hair-length h1 {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 2.7rem;
}

table {
  border-collapse: collapse;
  border: 10px solid #e8ab75;
  background-color: #fff;
}

.mayBeHidden * {
  padding: 1rem 5rem 0;
}

.mayBeHidden h1 {
  font-size: 2rem;
  padding: 1rem 0;
  color: #372e25;
  font-weight: 600;
  font-family: "Lato";
  text-transform: uppercase;
}

/* The container */
#div1,
#div2,
#div3,
#div4,
#div5 {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1.1em;
}

#div1 input,
#div2 input,
#div3 input,
#div4 input,
#div5 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

#div1:hover input ~ .checkmark,
#div2:hover input ~ .checkmark,
#div3:hover input ~ .checkmark,
#div4:hover input ~ .checkmark,
#div5:hover input ~ .checkmark {
  background-color: #ccc;
}

#div1 input:checked ~ .checkmark,
#div2 input:checked ~ .checkmark,
#div3 input:checked ~ .checkmark,
#div4 input:checked ~ .checkmark,
#div5 input:checked ~ .checkmark {
  background-color: #53ce86;
}

#div1 input:checked ~ .checkmark:after,
#div2 input:checked ~ .checkmark:after,
#div3 input:checked ~ .checkmark:after,
#div4 input:checked ~ .checkmark:after,
#div5 input:checked ~ .checkmark:after {
  display: block;
}

#div1 .checkmark:after,
#div2 .checkmark:after,
#div3 .checkmark:after,
#div4 .checkmark:after,
#div5 .checkmark:after {
  left: 9px;
  top: 2px;
  width: 8px;
  height: 16px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 1px solid black;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.sum {
  font-size: 1.8rem;
  width: 100%;
  color: #fff9d4;
  padding: 0 0 1.8rem 0;
  text-align: center;
}

.sum h2 {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

.m {
  min-width: 200px;
  border: 10px solid #372e25;
  padding: 3rem 4rem;
  height: 100%;
  width: 50%;
  margin: 0 2rem;
  color: #372e25;
  font-size: 1.6rem;
  background-color: rgba(255, 249, 212, 0.7);
}

.m .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.m .option label {
  width: 33%;
  margin-right: 25px;
}

.m .option .remarks {
  background-color: #fff9d4;
  resize: none;
  padding: 0.5rem;
  font-family: "Lato", "sans-serif";
  font-size: 1.5rem;
  color: #99968f;
  margin-bottom: 1rem;
  margin-left: 15px;
  height: 5rem;
  width: 100%;
}

.m h1 {
  margin-bottom: 3rem;
  padding: 0 0 1.8rem 0;
  font-size: 2.7rem;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #99968f;
  border-radius: 20px;
  width: 25%;
  padding: 3.5rem 2rem;
}

.order .chosenServices {
  width: 100%;
  padding: 1.5rem;
  color: #372e25;
  text-align: center;
  font-size: 1.7rem;
  margin: 3rem;
  max-width: 190px;
  border-radius: 20px;
}

.order button {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  background-color: #53ce86;
  border-radius: 20px;
  max-width: 190px;
  padding: 1.8rem;
  cursor: pointer;
  margin: 2rem 0;
  border: none;
  color: #372e25;
  -webkit-box-shadow: 3px 3px;
          box-shadow: 3px 3px;
}

.order button:hover {
  background-color: #9cf5d0;
  color: #372e25;
}

/* CONTACT AND MAP */
.contact {
  background-color: #372e25;
  color: #fff;
}

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.contact-info1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 30%;
  margin: 1rem 2rem;
}

.contact-info1 .info1,
.contact-info1 .info2 {
  padding: 3rem 2rem;
  color: #372e25;
  height: auto;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 2rem;
}

.contact-info1 .info1 {
  background-color: #fff9d4;
}

.contact-info1 .info1 h2 {
  color: #372e25;
}

.contact-info1 .info2 {
  background-color: #e8ab75;
}

.contact-info1 h2 {
  color: #fff;
  font-size: 2.7rem;
}

.contact-info1 p,
.contact-info1 h2 {
  padding-bottom: 1rem;
}

.contact h1 {
  padding-top: 4rem;
}

.contact h1 span {
  font-size: 2rem;
}

#map {
  background-color: #372e25;
  -webkit-filter: grayscale(0.6);
          filter: grayscale(0.6);
  height: 50vh;
  width: 70%;
  margin: 1rem 0 2rem;
  border: 10px solid #99968f;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: auto;
  background-color: #99968f;
  padding: 4rem 18rem;
}

footer h3,
footer p {
  padding: 2rem 0;
  width: 25%;
  margin: 1rem;
}

footer img {
  width: 60px;
}

.hidden {
  display: none;
}

.active-button {
  background-color: #372e25;
  color: #fff9d4;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 1.8rem;
  width: 90%;
  margin: 0.5rem 0;
  border-radius: 20px;
}

.backgroundColorgrey {
  background-color: #372e25;
  color: #fff9d4;
  padding: 1.8rem;
  cursor: pointer;
  width: 90%;
  margin: 0.5rem 0;
  border-radius: 20px;
}

.white {
  line-height: 3.5rem;
  font-size: 1.7rem;
}

.additionalScissors {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: none;
  background-image: url(img/scissors1.png);
  width: 50%;
  height: 100px;
  margin-left: 50%;
}

@media only screen and (max-width: 600px) {
  textarea {
    margin: 0 !important;
  }
  label {
    width: 50% !important;
  }
  .m-h1 {
    text-align: center;
    font-size: 2.5rem !important;
  }
}

@media only screen and (max-width: 1380px) {
  .gallery__btn--both {
    width: 40px;
    height: 20px;
  }
  .sticky {
    display: auto;
  }
  .every-section {
    height: auto;
    padding: 2vw 2rem 8vh;
  }
  .sci {
    display: none;
  }
  .description {
    padding: 0;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 6rem;
  }
  .header .header__main {
    border: none;
    width: 100%;
  }
  .header .header__main .name {
    font-size: 6rem;
  }
  .header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
  }
  .gallery .gallery__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    height: auto;
    padding-bottom: 5rem;
  }
  .gallery .gallery__container .gallery__mini {
    display: none;
  }
  .gallery .gallery__container .gallery__slide--section {
    z-index: 0;
    width: 70vw;
    height: 70vw;
    max-height: 900px;
    max-width: 900px;
  }
  .main-title {
    font-size: 3.6rem;
    margin-bottom: 0rem;
  }
  .form1 {
    display: block;
  }
  .clip {
    margin-bottom: 4rem;
  }
  .form {
    background-color: #99968f;
  }
  .form .clip {
    background-color: #fff;
  }
  .form .main-title {
    color: #fff9d4;
  }
  .form .hair-length {
    padding: 2rem 1rem;
    min-width: 200px;
    width: 100%;
    background-color: rgba(1, 1, 1, 0);
  }
  .form .hair-length--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .form .hair-length--container .length {
    margin: 1rem;
    max-width: 190px;
  }
  .form .hair-length h1 {
    margin: 3rem;
    text-align: center;
    background-color: #fff;
    color: #372e25;
    padding: 2rem;
    border-radius: 15px;
    font-size: 2.2rem;
  }
  .form .m {
    background-color: rgba(255, 249, 212, 0.7);
    min-width: 200px;
    max-width: 80%;
    width: 100%;
    padding: 3rem;
    margin: 0 auto;
    height: auto;
  }
  .form .m .option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .form .order {
    background-image: none;
    background-color: #fff;
    max-width: 35%;
    min-width: 200px;
    width: 100%;
    margin: 3rem auto 0;
  }
  .form .order .sum {
    color: #372e25;
  }
  .active-button {
    padding: 1.8rem;
    max-width: 190px;
  }
  .backgroundColorgrey {
    padding: 1.8rem;
    max-width: 190px;
  }
  .contact-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact-info1 {
    margin: 2rem auto;
    width: 100%;
    max-width: 50%;
  }
  #map {
    max-width: 90%;
    margin: 0 auto;
    width: 100%;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 2rem 2rem;
  }
}

@media only screen and (min-width: 1000px) {
  .nav {
    width: 30% !important;
    padding: 0 !important;
    margin-top: 0 !important;
  }
}

.logo-hidden {
  display: none;
}

.logo-hidden * {
  height: 100px;
  margin: 0 2rem;
}

@media only screen and (max-width: 460px) {
  .logo-hidden {
    display: none !important;
  }
}

@media only screen and (max-width: 840px) {
  .h1-first {
    display: none !important;
  }
  .header .header__main h1 {
    font-size: 1.4rem;
  }
  .clip {
    height: 5px;
  }
  .header {
    padding: 2rem !important;
  }
  .header__main {
    margin: 0;
    padding: 1rem !important;
    background-color: rgba(0, 0, 0, 0) !important;
  }
  .logo-hidden {
    display: block;
  }
  .main-title {
    border-bottom: none;
  }
  .form .main-title {
    border-bottom: none;
  }
  .sci {
    display: none;
  }
  .description {
    margin-left: 0 !important;
  }
  .services__box {
    margin: 0;
  }
  .services__box--img {
    width: 70%;
    height: 200px;
  }
  .form {
    padding: 2rem 0;
    width: 100%;
  }
  .form .main-title {
    padding: 2rem 4rem;
  }
  .form1 {
    padding: 0;
  }
  .m {
    height: auto;
    font-size: 1.4rem;
  }
  .order {
    max-width: 80% !important;
  }
  #map,
  .contact-info1 {
    margin: 1rem auto;
    max-width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */
